// add(10, 5)
// => 15
add(a, b)
  a + b

// compare(5, 2)
// => higher
// compare(1, 5)
// => lower
// compare(10, 10)
// => equal
compare(a, b)
  if a > b
    higher
  else if a < b
    lower
  else
    equal

 // sum(1,2,3,4,5)
 // => 15
 sum()
   n = 0
   for num in arguments
     n = n + num
